<footer class="cp_footer">
    <section class="cp-ft-bottom-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p class="bold" style="color:white"> @DateTime.Now.Date.Year © Fast VTC Tous droits réservés. </p>
                </div>
            </div>
        </div>
    </section>
</footer>