<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fast VTC, Réservez votre chauffeur en un click !</title>

    <link rel="icon" type="image/png" href="~/images/favicon-32x32.png" />
    <!---Custom CSS-->
    <link rel="stylesheet" href="~/css/custom.css" type="text/css">
    <!---BootStrap CSS-->
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css">
    <!---Theme Color CSS-->
    <link rel="stylesheet" href="~/css/theme-color.css" type="text/css">
    <!---Responsive CSS-->
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css">
    <!---Owl Slider CSS-->
    <link rel="stylesheet" href="~/css/owl.carousel.css" type="text/css">
    <!---Font Awesome Icons CSS-->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <!---IconMoon Icons CSS-->
    <link rel="stylesheet" href="~/css/icomoon.css" type="text/css">
    <!---DatePicker & TimePicker CSS-->
    <link rel="stylesheet" href="~/css/classic.css">
    <link rel="stylesheet" href="~/css/classic.date.css">
    <link rel="stylesheet" href="~/css/classic.time.css">

    <!---Font Family Exo+2 CSS-->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,300,600,700,900,800,200,100,500,400italic' rel='stylesheet' type='text/css'>

    @RenderSection("InlineStyles", false)
</head>
<body>

    <!--Wrapper Content Start-->
    <div id="wrapper">
        <!--Header Start-->
            @await Html.PartialAsync("_Header")
        <!--Header End-->
        <!--Main Content Start-->
        <div id="cp-main-content">
            @RenderBody()
        </div>
        <!--Main Content End-->
        <!--Footer Start-->
            @await Html.PartialAsync("_Footer")
        <!--Footer End-->

    </div><!--Wrapper Content End-->
    <!---JQuery-1.11.3.js-->
    <script type="text/javascript" src="~/js/jquery-1.11.3.min.js"></script>
    <!---BootStrap.js-->
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <!--HTML5 Js-->
    <script type="text/javascript" src="~/js/html5shiv.js"></script>
    <!---Migrate.js-->
    <script type="text/javascript" src="~/js/migrate.js"></script>
    <!---Owl Carousel Slider.js-->
    <script type="text/javascript" src="~/js/owl.carousel.min.js"></script>

    <!---Custom Script.js-->
    <script type="text/javascript" src="~/js/custom-script.js"></script>

    <!---Datepicker and Time picker-->
    <script type="text/javascript" src="~/js/picker.js"></script>
    <script type="text/javascript" src="~/js/picker.date.js"></script>
    <script type="text/javascript" src="~/js/picker.time.js"></script>
    <!---Inupt mask-->
    <script type="text/javascript" src="~/js/jquery.inputmask.bundle.min.js"></script>

    @RenderSection("InlineScripts", false)
</body>
</html>