<!--Banner Start-->
<div class="cp_inner-banner">
    <img src="~/Images/banner/sub-banner.jpg" alt="">
    <!--Inner Banner Holder Start-->
    <div class="cp-inner-banner-holder">
        <div class="container">
            <h2>À PROPOS</h2>
            <!--Breadcrumb Start-->
            <ul class="breadcrumb">
                <li><a href="@Url.Action("GetHomePage", "Main")">Accueil</a></li>
                <li class="active">À Propos</li>
            </ul><!--Breadcrumb End-->
        </div>

    </div><!--Inner Banner Holder End-->
</div>
<!--Banner End-->


<section class="cp-awwards-section pd-tb80">
    <div class="container">
        <div class="cp-inner-awwards-holder">
            <p class="bold" style="color:white;">
                Fast VTC est une société de VTC (Véhicule de Transport avec Chauffeur) basée à Bordeaux, qui assure vos déplacements courants, transferts de l’aéroport de Mérignac et de la gare St Jean, ou encore des déplacements régionaux.
            </p>
            <p class="bold" style="color:white;">
                Profitez de votre trajet pour vous détendre ou pour travailler : tout est fait pour rendre votre parcours agréable et le plus rapide possible. Votre réservation peut se faire à la dernière minute et vous serez emmené à votre destination en toutes sécurités.
            </p>
        </div>
    </div>
</section>

<section class="cp-why-choose-section2 pd-tb80">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-sm-12 text-center">
                <figure class="cp-thumb choose-thumb">
                    <img src="~/Images/bordeaux.jpg" alt="" class="img-circle">
                </figure>
                <a href="@Url.Action("GetBookingPage", "Main")" class="cp-btn-style1" style="margin-top: 10px;">Réservez Maintenant</a>
            </div>
            <div class="col-md-5 col-sm-12">
                <!--Why Choose Text-->
                <div class="cp-why-choose-text">
                    <h2> <span>Fast VTC</span></h2>
                    <p>Notre engagement</p>
                    <ul class="cp-choose-list">
                        <li>Etre à l’écoute de nos clients</li>
                        <li>Etre à la recherche de votre satisfaction</li>
                        <li>Sérénité quel que soit le contexte</li>
                        <li>Faire preuve de flexibilité</li>
                    </ul>
                </div><!--Why Choose Text-->
            </div>
        </div>
    </div>
</section>


<section class="cp-services-section pd-tb80">
    <div class="container">
        <div class="cp-heading-style1">
            <h2>Fast VTC<span></span></h2>
            <p>vous offre le service qui vous simplifie la vie</p>
        </div>
        <!--Why Choose Listed-->
        <ul class="cp-why-choose-listed">
            <li>
                <div class="cp-box" style="height:300.8px;">
                    <h3>Prix Fixe</h3>
                    <span class="icon-cash19 icomoon"></span>
                    <p>Un Prix Fixe Connu à la réservation défiant toute conccurence.</p>
                </div>
            </li>
            <li>
                <div class="cp-box">
                    <h3>Chauffeur Professionnel</h3>
                    <span class="icon-transport1105 icomoon"></span>
                    <p> Un chauffeur Professionnel et discret avec un service adapté à vos envies.</p>
                </div>
            </li>
            <li>
                <div class="cp-box" style="height:300.8px;">
                    <h3>Innovation</h3>
                    <span class="icon-house158 icomoon"></span>
                    <p> Fast VTC innove le transport privé à Bordeaux et partout en france.</p>
                </div>
            </li>
        </ul><!--Why Choose Listed End-->
    </div>
    <br />
    <div class="col-md-12 cp-btn-holder">
        <a href="@Url.Action("GetBookingPage", "Main")" class="cp-btn-style1">Réservez Maintenant</a>
    </div>
</section>
